body{
    font-family: Courier, monospace;
    background-color: var(--cor-fundo);
}
body::before{
    content: '';
    background-image: url(../assets/fundo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    z-index: 1;
    text-align: center;
    font-size: 60px;
    color: var(--cor-secundaria);
    text-transform: uppercase;
    line-height: 102px;
    -webkit-text-stroke: 2px var(--cor-azul-fraca);
}
.selecao-personagem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selecao-personagem .personagem-grande{
    top: -50px;
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;
}
.selecao-personagem .personagem-grande img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.selecao-personagem .personagem-grande .nome::before{
    content: '';
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0px;
}
.selecao-personagem .personagem-grande .nome h2{
    color: var(--cor-padrao);
    font-family: sans-serif,'Courier New', Courier, monospace;
    position: absolute;
    bottom:30px;
    width: 100%;
    font-size: 27px;
}
.selecao-personagem .personagem-grande.pokemon-jogador-01 .nome::before{
    background-color: var(--cor-titulo-forte);
}
.selecao-personagem .personagem-grande.personagem-jogador-02 .nome::before{
    background-color: var(--cor-roxa-escura);
}
.pika{
   height: 250px;
}

.personagens-organização .lista-de-personagens{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    gap: 12px;
}
.personagens-organização .lista-de-personagens img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.personagens-organização .lista-de-personagens .pokemon{
    border: solid 2px var(--cor-azul-media);
    background-color: var(--cor-azul-fraca);
    width: 30%;
    height: 110px;
    cursor: pointer;
    z-index: 2;
    border-radius: 10px;
    position: relative;
    transition: 0.15s ease-in-out;
}
.personagens-organização .lista-de-personagens .pokemon.selecionado{
    border: solid 2px var(--cor-azul-principal);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}
.personagens-organização .lista-de-personagens .pokemon.selecionado-02{
    border: solid 2px var(--cor-vermelha-principal);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}
.personagens-organização .lista-de-personagens .pokemon:hover{
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}
.personagens-organização .lista-de-personagens .pokemon.selecionado-02:hover{
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}
.personagens-organização .lista-de-personagens .pokemon .tag{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--cor-secundaria);
    /* transition: opacity .3s ease-in-out; */
    transition: opacity 0.3 ease-in-out;
    animation: alternate;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}
.personagens-organização .lista-de-personagens .pokemon.selecionado .tag{
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}
.personagens-organização .lista-de-personagens .pokemon.selecionado-02 .tag{
    display: block;
    animation: text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer h3{
    padding-top: 20px;
}